## IMDB - Data Analysis 

#### Task 
You need to work on IMDB data to prepare insights on Titles (movies and TV shows)
You need to analyse data to bright out the following insights:
1. Which Genre gets the maximum votes?
2. Which actor - director pair is most successful (in terms of IMDB ratings)?
3. Male leads are most successful in which age bracket?
4. For TV shows, what is the avg episode duration of the best TV shows?
5. Best TV shows last for how many seasons?
6. In which year maximum TV shows ended?
7.  What factors lead to higher rating

Link for data:
https://www.imdb.com/interfaces/

You can assume details, if any, that is missing in this task.
Just state your assumptions in your submission.

In [1]:
import numpy as np
import pandas as pd

In [2]:
title_basics = pd.read_csv('title.basics.tsv',delimiter ='\t', encoding='utf-8')

C:\Users\thanu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
title_basics.shape

(6724400, 9)

In [2]:
title_akas2 = pd.read_csv('title.akas.tsv', delimiter ='\t', encoding='utf-8')

C:\Users\thanu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
title_crew3 = pd.read_csv('title.crew.tsv', delimiter ='\t', encoding='utf-8')

In [4]:
title_episode4 = pd.read_csv('title.episode.tsv', delimiter ='\t', encoding='utf-8')

In [ ]:
name_basics5 = pd.read_csv('name.basics.tsv', delimiter ='\t', encoding='utf-8')

In [8]:
title_principals6 = pd.read_csv('title.principle.tsv', delimiter ='\t', encoding='utf-8')

In [5]:
title_ratings7 = pd.read_csv('title.ratings.tsv', delimiter ='\t', encoding='utf-8')

In [10]:
print("title basics: ",title_basics.shape)
print("title_akas: ",title_akas2.shape)
print("title crew: ",title_crew3.shape)
print("title episode: ",title_episode4.shape)
print("name basics: ",name_basics5.shape)
print("title principals: ",title_principals6.shape)
print("title ratings: ",title_ratings7.shape)

title basics:  (6724400, 9)
title_akas:  (21282630, 8)
title crew:  (6724400, 3)
title episode:  (4780646, 4)
name basics:  (10022860, 6)
title principals:  (38813076, 6)
title ratings:  (1026544, 3)

In [11]:
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

### Merging the below mentioned dataframes, Title_episode contains season number and episode number

In [6]:
New1= pd.merge(title_basics, title_episode4,on='tconst',how="left")

In [7]:
New1.shape

(6724400, 12)

In [8]:
New1.tail(50)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,parentTconst,seasonNumber,episodeNumber
6724350,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,\N,49,Documentary,NaN,NaN,NaN
6724351,tt9916756,short,Pretty Pretty Black Girl,Pretty Pretty Black Girl,0,2019,\N,\N,Short,NaN,NaN,NaN
6724352,tt9916758,tvEpisode,Willy Naessens,Willy Naessens,0,2019,\N,\N,"Comedy,News,Talk-Show",tt5189940,12,13
6724353,tt9916760,tvEpisode,Episode #2.21,Episode #2.21,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,21
6724354,tt9916762,tvEpisode,Episode #2.22,Episode #2.22,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,22
6724355,tt9916764,short,38,38,0,2018,\N,\N,Short,NaN,NaN,NaN
6724356,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019,\N,43,"Family,Reality-TV",tt1442550,10,15
6724357,tt9916768,tvEpisode,Episode #2.23,Episode #2.23,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,23
6724358,tt9916770,tvEpisode,Episode #2.24,Episode #2.24,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,24
6724359,tt9916774,tvEpisode,Episode #2.25,Episode #2.25,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,25
6724360,tt9916776,tvEpisode,Talent Coaching with IMOR's Bianca Desmore Mit...,Talent Coaching with IMOR's Bianca Desmore Mit...,0,2019,\N,\N,Talk-Show,tt6337920,\N,\N
6724361,tt9916778,tvEpisode,Escape,Escape,0,2019,\N,\N,Drama,tt9595170,1,3
6724362,tt9916780,tvEpisode,Episode #2.26,Episode #2.26,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,26
6724363,tt9916782,tvEpisode,Episode #2.27,Episode #2.27,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,27
6724364,tt9916784,tvEpisode,Episode #2.28,Episode #2.28,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,28
6724365,tt9916786,tvEpisode,Episode #2.29,Episode #2.29,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,29
6724366,tt9916788,tvEpisode,Episode #2.30,Episode #2.30,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,30
6724367,tt9916790,tvEpisode,Tinne Oltmans,Tinne Oltmans,0,2019,\N,\N,"Comedy,News,Talk-Show",tt5189940,12,14
6724368,tt9916792,tvEpisode,Episode #2.32,Episode #2.32,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,32
6724369,tt9916794,tvEpisode,Episode #2.33,Episode #2.33,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,33
6724370,tt9916796,tvEpisode,Episode #2.34,Episode #2.34,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,34
6724371,tt9916798,tvEpisode,Episode #2.36,Episode #2.36,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,36
6724372,tt9916800,tvEpisode,Episode #2.35,Episode #2.35,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,35
6724373,tt9916802,tvEpisode,Luc Janssens,Luc Janssens,0,2019,\N,\N,"Comedy,News,Talk-Show",tt5189940,12,15
6724374,tt9916804,tvEpisode,Episode #2.37,Episode #2.37,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,37
6724375,tt9916806,tvEpisode,Episode #3.1,Episode #3.1,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,1
6724376,tt9916808,tvEpisode,Episode #3.2,Episode #3.2,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,2
6724377,tt9916810,tvEpisode,Danira Boukhriss Terkessidis,Danira Boukhriss Terkessidis,0,2019,\N,\N,"Comedy,News,Talk-Show",tt5189940,12,16
6724378,tt9916812,tvEpisode,Episode #3.3,Episode #3.3,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,3
6724379,tt9916814,tvEpisode,Episode #3.4,Episode #3.4,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,4
6724380,tt9916816,tvEpisode,Episode #3.5,Episode #3.5,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,5
6724381,tt9916818,tvEpisode,Episode #3.6,Episode #3.6,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,6
6724382,tt9916820,tvEpisode,Episode #3.7,Episode #3.7,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,7
6724383,tt9916822,tvEpisode,Episode #3.8,Episode #3.8,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,8
6724384,tt9916824,tvEpisode,Episode #3.9,Episode #3.9,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,9
6724385,tt9916826,tvEpisode,Episode #3.10,Episode #3.10,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,10
6724386,tt9916830,tvEpisode,Episode #2.6,Episode #2.6,0,1973,\N,\N,Game-Show,tt1828066,2,6
6724387,tt9916832,tvEpisode,Episode #3.11,Episode #3.11,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,11
6724388,tt9916834,tvEpisode,Episode #3.12,Episode #3.12,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,12
6724389,tt9916836,tvEpisode,Episode #3.14,Episode #3.14,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,14
6724390,tt9916838,tvEpisode,Episode #3.13,Episode #3.13,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,13
6724391,tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0,2014,\N,11,"Animation,Comedy,Family",tt0985991,4,1
6724392,tt9916842,tvEpisode,Episode #3.16,Episode #3.16,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,16
6724393,tt9916844,tvEpisode,Episode #3.15,Episode #3.15,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,15
6724394,tt9916846,tvEpisode,Episode #3.18,Episode #3.18,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,18
6724395,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,17
6724396,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,19
6724397,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,20
6724398,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short,NaN,NaN,NaN
6724399,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family",tt0985991,4,2

In [9]:
title_basics1=pd.merge(New1, title_ratings7,on='tconst',how="left")

In [10]:
title_basics1.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,parentTconst,seasonNumber,episodeNumber,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",NaN,NaN,NaN,5.6,1605.0
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",NaN,NaN,NaN,6.0,197.0
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",NaN,NaN,NaN,6.5,1278.0
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",NaN,NaN,NaN,6.1,121.0
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",NaN,NaN,NaN,6.1,2043.0

In [11]:
title_basics1.shape

(6724400, 14)

In [18]:
title_akas2.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [19]:
title_crew3.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [20]:
title_episode4.head()

      tconst parentTconst seasonNumber episodeNumber
0  tt0041951    tt0041038            1             9
1  tt0042816    tt0989125            1            17
2  tt0042889    tt0989125           \N            \N
3  tt0043426    tt0040051            3            42
4  tt0043631    tt0989125            2            16

In [21]:
name_basics5.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0038355,tt0117057,tt0071877"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0054452,tt0059956,tt0057345,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0078723,tt0080455,tt0077975,tt0072562"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0083922,tt0060827,tt0050986"

In [22]:
title_principals6.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [23]:
title_ratings7.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1605
1  tt0000002            6.0       197
2  tt0000003            6.5      1278
3  tt0000004            6.1       121
4  tt0000005            6.1      2043

In [12]:
title_basics1.titleType.value_counts()

tvEpisode       4780697
short            734305
movie            548388
video            261363
tvSeries         182117
tvMovie          120559
tvMiniSeries      30366
tvSpecial         28807
videoGame         25316
tvShort           12482
Name: titleType, dtype: int64

In [13]:
title_basics_movie = title_basics1[(title_basics1["titleType"] == "movie")
            | (title_basics1["titleType"] == "tvMovie")]
title_basics_movie["titleType"] = "movie"

C:\Users\thanu\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
title_basics_movie.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,parentTconst,seasonNumber,episodeNumber,averageRating,numVotes
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,NaN,NaN,NaN,5.4,108.0
145,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport",NaN,NaN,NaN,5.2,341.0
332,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama",NaN,NaN,NaN,6.1,40.0
499,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,NaN,NaN,NaN,4.4,5.0
571,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama",NaN,NaN,NaN,6.1,567.0

In [15]:
Series = title_basics1[(title_basics1["titleType"] == "tvSeries") | (title_basics1["titleType"] == "tvMiniSeries")]
Series["titleType"] = "series"

C:\Users\thanu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
Episode = title_basics1[(title_basics1["titleType"]== "tvEpisode")]
Episode['titleType'] = 'episode'

C:\Users\thanu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
title_basicsNew = pd.concat([title_basics_movie, Series,Episode], ignore_index=True)
title_basicsNew.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,parentTconst,seasonNumber,episodeNumber,averageRating,numVotes
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,NaN,NaN,NaN,5.4,108.0
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport",NaN,NaN,NaN,5.2,341.0
2,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama",NaN,NaN,NaN,6.1,40.0
3,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,NaN,NaN,NaN,4.4,5.0
4,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama",NaN,NaN,NaN,6.1,567.0

In [18]:
title_basicsNew.tail(40)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,parentTconst,seasonNumber,episodeNumber,averageRating,numVotes
5662087,tt9916774,episode,Episode #2.25,Episode #2.25,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,25,NaN,NaN
5662088,tt9916776,episode,Talent Coaching with IMOR's Bianca Desmore Mit...,Talent Coaching with IMOR's Bianca Desmore Mit...,0,2019,\N,\N,Talk-Show,tt6337920,\N,\N,NaN,NaN
5662089,tt9916778,episode,Escape,Escape,0,2019,\N,\N,Drama,tt9595170,1,3,7.2,21.0
5662090,tt9916780,episode,Episode #2.26,Episode #2.26,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,26,NaN,NaN
5662091,tt9916782,episode,Episode #2.27,Episode #2.27,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,27,NaN,NaN
5662092,tt9916784,episode,Episode #2.28,Episode #2.28,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,28,NaN,NaN
5662093,tt9916786,episode,Episode #2.29,Episode #2.29,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,29,NaN,NaN
5662094,tt9916788,episode,Episode #2.30,Episode #2.30,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,30,NaN,NaN
5662095,tt9916790,episode,Tinne Oltmans,Tinne Oltmans,0,2019,\N,\N,"Comedy,News,Talk-Show",tt5189940,12,14,NaN,NaN
5662096,tt9916792,episode,Episode #2.32,Episode #2.32,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,32,NaN,NaN
5662097,tt9916794,episode,Episode #2.33,Episode #2.33,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,33,NaN,NaN
5662098,tt9916796,episode,Episode #2.34,Episode #2.34,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,34,NaN,NaN
5662099,tt9916798,episode,Episode #2.36,Episode #2.36,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,36,NaN,NaN
5662100,tt9916800,episode,Episode #2.35,Episode #2.35,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,35,NaN,NaN
5662101,tt9916802,episode,Luc Janssens,Luc Janssens,0,2019,\N,\N,"Comedy,News,Talk-Show",tt5189940,12,15,NaN,NaN
5662102,tt9916804,episode,Episode #2.37,Episode #2.37,0,2009,\N,\N,"Action,Drama,Family",tt1289683,2,37,NaN,NaN
5662103,tt9916806,episode,Episode #3.1,Episode #3.1,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,1,NaN,NaN
5662104,tt9916808,episode,Episode #3.2,Episode #3.2,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,2,NaN,NaN
5662105,tt9916810,episode,Danira Boukhriss Terkessidis,Danira Boukhriss Terkessidis,0,2019,\N,\N,"Comedy,News,Talk-Show",tt5189940,12,16,NaN,NaN
5662106,tt9916812,episode,Episode #3.3,Episode #3.3,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,3,NaN,NaN
5662107,tt9916814,episode,Episode #3.4,Episode #3.4,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,4,NaN,NaN
5662108,tt9916816,episode,Episode #3.5,Episode #3.5,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,5,NaN,NaN
5662109,tt9916818,episode,Episode #3.6,Episode #3.6,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,6,NaN,NaN
5662110,tt9916820,episode,Episode #3.7,Episode #3.7,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,7,NaN,NaN
5662111,tt9916822,episode,Episode #3.8,Episode #3.8,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,8,NaN,NaN
5662112,tt9916824,episode,Episode #3.9,Episode #3.9,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,9,NaN,NaN
5662113,tt9916826,episode,Episode #3.10,Episode #3.10,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,10,NaN,NaN
5662114,tt9916830,episode,Episode #2.6,Episode #2.6,0,1973,\N,\N,Game-Show,tt1828066,2,6,NaN,NaN
5662115,tt9916832,episode,Episode #3.11,Episode #3.11,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,11,NaN,NaN
5662116,tt9916834,episode,Episode #3.12,Episode #3.12,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,12,NaN,NaN
5662117,tt9916836,episode,Episode #3.14,Episode #3.14,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,14,NaN,NaN
5662118,tt9916838,episode,Episode #3.13,Episode #3.13,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,13,NaN,NaN
5662119,tt9916840,episode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0,2014,\N,11,"Animation,Comedy,Family",tt0985991,4,1,NaN,NaN
5662120,tt9916842,episode,Episode #3.16,Episode #3.16,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,16,NaN,NaN
5662121,tt9916844,episode,Episode #3.15,Episode #3.15,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,15,NaN,NaN
5662122,tt9916846,episode,Episode #3.18,Episode #3.18,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,18,NaN,NaN
5662123,tt9916848,episode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,17,NaN,NaN
5662124,tt9916850,episode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,19,NaN,NaN
5662125,tt9916852,episode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family",tt1289683,3,20,NaN,NaN
5662126,tt9916880,episode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family",tt0985991,4,2,NaN,NaN

In [19]:
 title_basicsNew.shape

(5662127, 14)

In [20]:
title_basicsNew.drop(columns=["primaryTitle", "isAdult"], axis = 1,inplace=True)

In [21]:
title_basicsNew.shape

(5662127, 12)

In [22]:
title_basicsNew.head()

,tconst,titleType,originalTitle,startYear,endYear,runtimeMinutes,genres,parentTconst,seasonNumber,episodeNumber,averageRating,numVotes
0,tt0000009,movie,Miss Jerry,1894,\N,45,Romance,NaN,NaN,NaN,5.4,108.0
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,1897,\N,20,"Documentary,News,Sport",NaN,NaN,NaN,5.2,341.0
2,tt0000335,movie,Soldiers of the Cross,1900,\N,\N,"Biography,Drama",NaN,NaN,NaN,6.1,40.0
3,tt0000502,movie,Bohemios,1905,\N,100,\N,NaN,NaN,NaN,4.4,5.0
4,tt0000574,movie,The Story of the Kelly Gang,1906,\N,70,"Biography,Crime,Drama",NaN,NaN,NaN,6.1,567.0

In [23]:
title_basicsNew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5662127 entries, 0 to 5662126
Data columns (total 12 columns):
tconst            object
titleType         object
originalTitle     object
startYear         object
endYear           object
runtimeMinutes    object
genres            object
parentTconst      object
seasonNumber      object
episodeNumber     object
averageRating     float64
numVotes          float64
dtypes: float64(2), object(10)
memory usage: 518.4+ MB

In [24]:
title_basicsNew.dropna(subset=["genres"])

,tconst,titleType,originalTitle,startYear,endYear,runtimeMinutes,genres,parentTconst,seasonNumber,episodeNumber,averageRating,numVotes
0,tt0000009,movie,Miss Jerry,1894,\N,45,Romance,NaN,NaN,NaN,5.4,108.0
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,1897,\N,20,"Documentary,News,Sport",NaN,NaN,NaN,5.2,341.0
2,tt0000335,movie,Soldiers of the Cross,1900,\N,\N,"Biography,Drama",NaN,NaN,NaN,6.1,40.0
3,tt0000502,movie,Bohemios,1905,\N,100,\N,NaN,NaN,NaN,4.4,5.0
4,tt0000574,movie,The Story of the Kelly Gang,1906,\N,70,"Biography,Crime,Drama",NaN,NaN,NaN,6.1,567.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5662122,tt9916846,episode,Episode #3.18,2010,\N,\N,"Action,Drama,Family",tt1289683,3,18,NaN,NaN
5662123,tt9916848,episode,Episode #3.17,2010,\N,\N,"Action,Drama,Family",tt1289683,3,17,NaN,NaN
5662124,tt9916850,episode,Episode #3.19,2010,\N,\N,"Action,Drama,Family",tt1289683,3,19,NaN,NaN
5662125,tt9916852,episode,Episode #3.20,2010,\N,\N,"Action,Drama,Family",tt1289683,3,20,NaN,NaN
5662126,tt9916880,episode,Horrid Henry Knows It All,2014,\N,10,"Animation,Comedy,Family",tt0985991,4,2,NaN,NaN

In [25]:
title_basicsNew.shape

(5662127, 12)

In [26]:
#fetching series, movie and episode values from titleType
title_series =  title_basicsNew[title_basicsNew["titleType"] == "series"]
title_movie =  title_basicsNew[title_basicsNew["titleType"] == "movie"]
title_episode = title_basicsNew[title_basicsNew["titleType"] =="episode"]

In [27]:
series = title_series
movie = title_movie  
episode=title_episode

In [28]:
episode=episode.reset_index(drop=True)
episode.head()

,tconst,titleType,originalTitle,startYear,endYear,runtimeMinutes,genres,parentTconst,seasonNumber,episodeNumber,averageRating,numVotes
0,tt0041951,episode,The Tenderfeet,1949,\N,30,Western,tt0041038,1,9,7.4,48.0
1,tt0042816,episode,Othello,1950,\N,135,Drama,tt0989125,1,17,NaN,NaN
2,tt0042889,episode,The Tragedy of King Richard II/II,1950,\N,145,Drama,tt0989125,\N,\N,NaN,NaN
3,tt0043426,episode,Coriolanus,1951,\N,60,Drama,tt0040051,3,42,NaN,NaN
4,tt0043631,episode,The Life of King Henry V,1951,\N,133,Drama,tt0989125,2,16,NaN,NaN

In [29]:
series=series.reset_index(drop=True)
series.head()

,tconst,titleType,originalTitle,startYear,endYear,runtimeMinutes,genres,parentTconst,seasonNumber,episodeNumber,averageRating,numVotes
0,tt0035599,series,Voice of Firestone Televues,1943,1947,15,\N,NaN,NaN,NaN,NaN,NaN
1,tt0035803,series,Die Deutsche Wochenschau,1940,1945,12,Documentary,NaN,NaN,NaN,7.8,29.0
2,tt0038276,series,You Are an Artist,1946,1950,15,\N,NaN,NaN,NaN,NaN,NaN
3,tt0039120,series,Americana,1947,1949,30,"Family,Game-Show",NaN,NaN,NaN,3.0,8.0
4,tt0039121,series,Birthday Party,1947,1949,30,Family,NaN,NaN,NaN,NaN,NaN

In [30]:
movie.head()

,tconst,titleType,originalTitle,startYear,endYear,runtimeMinutes,genres,parentTconst,seasonNumber,episodeNumber,averageRating,numVotes
0,tt0000009,movie,Miss Jerry,1894,\N,45,Romance,NaN,NaN,NaN,5.4,108.0
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,1897,\N,20,"Documentary,News,Sport",NaN,NaN,NaN,5.2,341.0
2,tt0000335,movie,Soldiers of the Cross,1900,\N,\N,"Biography,Drama",NaN,NaN,NaN,6.1,40.0
3,tt0000502,movie,Bohemios,1905,\N,100,\N,NaN,NaN,NaN,4.4,5.0
4,tt0000574,movie,The Story of the Kelly Gang,1906,\N,70,"Biography,Crime,Drama",NaN,NaN,NaN,6.1,567.0

In [31]:
print("Total No of Series: ",series.shape)
print("Total No of Movies: ",movie.shape)
print("Total No of Episodes: ",episode.shape)

Total No of Series:  (212483, 12)
Total No of Movies:  (668947, 12)
Total No of Episodes:  (4780697, 12)

In [33]:
episode.to_csv("episodes.csv",index=False)

In [34]:
movie.to_csv("movies.csv",index=False)

In [35]:
series.to_csv("series.csv",index=False)